@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')
@import global
$primary-color: #2fa8cc
$secondary-color: #f4f4f4
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1)

*
    box-sizing: border-box

body
    background-color: $primary-color
    font-family: 'Roboto', sans-serif
    margin: 0
    padding: 10px
    font-size: 12px
img
    max-width: 7rem
    max-height: 4rem
h1, h2, h3,li, input
    color: $fontColor

h1
    font-size: 1.4rem
h2
    font-size: 1rem

h3
    font-size: .8rem

li, input, a, .copyRights
    border-radius: .15rem
    font-size: .7rem
nav
    @include rowFlex
    align-items: center
    justify-content: space-evenly
    gap: .5rem
    white-space: nowrap
    img
        flex: 1
    h2
        flex: .5

footer
    margin-top: 1rem
    position: relative
    margin-top: 2rem
    padding-bottom: 0.1rem
    top: auto
    bottom: 0.1rem
.btn
    background-color: $primary-color
    color: $secondary-color
    border: 0
    border-radius: 10px
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1)
    padding: 14px 40px
    font-size: 16px
    cursor: pointer

    &:active
        transform: scale(0.98)

    &:focus
        outline: 0
